.BlogPopUp {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	transform: scale(0);
	background-color: #ffff;
	overflow-y: auto;
}

.BlogPopUp.active {
	transform: scale(1);
	z-index: 10;
}

.BlogPopUp .inner {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	height: 100%;
	padding: 70px 0px;
}

.BlogPopUp .inner .photo {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.BlogPopUp .inner .photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.BlogPopUp .inner .slider {
	width: 100%;
}

.BlogPopUp .inner .text {
	font-size: 18px;
	padding: 30px 0;
	width: 100%;
	min-height: 700px;
	height: 100%;
	outline: none;
	text-wrap: balance;
	line-height: 1.7;
	font-family: "helvetica";
	border: none;
}

.BlogPopUp .inner .close {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 20px;
	color: rgb(197, 36, 36);
	border: 1px solid rgb(197, 36, 36);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease;
}

.BlogPopUp .inner .close:hover {
	background-color: rgb(197, 36, 36);
	color: #fff;
}

@media (max-width: 600px) {
	.BlogPopUp .inner {
		padding: 80px 0px;
	}
}
