.FormContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}
.main_btn {
	background-color: #bb1d1e;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 0px rgba(187, 29, 30, 0.3);
	align-self: center;
	cursor: pointer;
	transition: all 0.2s ease;
	margin: 0 0;
}
.main_btn:hover {
	transform: scale(1.05, 1.05);
}
.main_btn:active {
	transform: scale(0.9, 0.9);
}
.title {
	font-size: 22px;
	text-align: center;
	width: 100%;
	font-weight: 600;
}
.sub_title {
	text-align: start;
	width: 100%;
	font-weight: 600;
	font-size: 20px;
}
.btn {
	border-radius: 15px;
	background: #bb1d1e;
	box-shadow: 0px 0px 15px 0px rgba(187, 29, 30, 0.3);
	color: #fff;
	padding: 10px 20px;
	align-self: center;
}

.textarea {
	border-radius: 7px;
	background: #f0f0f0;
	padding: 10px 20px;
	outline: none;
	font-size: 16px;
	width: 100%;
	border: 1px solid transparent;
	font-family: inherit;
}
.textarea.fail {
	border: 1px solid red;
}
.textarea.fail::placeholder {
	color: red;
}
.input {
	border-radius: 7px;
	background: #f0f0f0;
	padding: 10px 20px;
	outline: none;
	font-size: 16px;
	color: #000;
	border: 1px solid transparent;
}
.input.fail {
	border: 1px solid red;
}
.input.fail::placeholder {
	color: red;
}
.ttt {
	font-size: 18px;
}
